---
interface Props {
  title: string,
  date: string,
  description:string,
  link:string
}
const { title,date,description,link} = Astro.props




---



<div class="lg:flex lg:items-center lg:justify-center MainNew">


    <img src=`/img/news/${title}.webp` alt="" class="border-yellow-300 border rounded-sm relative   lg:w-[40%] lg:h-[300px] lg:skew-y-[10deg] lg:my-8">

  <div class="lg:text-start lg:pl-12 lg:w-[40%]" >


      <h1 class="text-3xl lg:text-5xl my-4 lg:tracking-wider
      text-cyan-400">{title}</h1> 
      <p class="bg-black text-2xl  tracking-wide   flex mx-auto my-0 " style="border-bottom-right-radius: 35px;">{date}</p>
      <p class="text-xl tracking-tight font-mono my-2">{description}</p>
    <a href={link} class="bg-cyan-800  px-4 py-1 text-black text-2xl info relative" target="_blank">Mas info</a>
 
  </div>


</div>




  




<style>
  .info::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background:linear-gradient(360deg, rgba(0, 255, 255, 0.963), rgba(0, 0, 0, 0.107)  50%) ;

    transition: all 0.3s ease;
  }
  .info:hover:after{
    height: 100%;
  }


</style>